<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>




<div class="card bg"*ngIf="!registerFormOpen">
        <div class="card-body">
          <form [formGroup]="loginForm" novalidate>
                <h3>Log In here</h3>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">staffId</label>
                  <div class="col-sm-8">
                     <input type="text" class="form-control" formControlName="staff_Id" required #staff_Id />
                    
                  </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-8">
                     <input type="password" class="form-control" formControlName="password" required #password />
                    
                  </div>
                </div>
                <p *ngIf="isMassage === true"style="color:red;">{{message}}</p>
                <div class="form-group"style="text-align:center">
                        <button type="submit" (click)="LogIn(staff_Id.value, password.value)"
                        class="btn btn-primary">LogIn
                    </button>
                </div>

                <br />
               <p style="text-align:center"(click)="register()"><a href="JavaScript:Void(0);">Register Here!!</a></p> 
            </form>
        </div>
</div>


<div class="card bg"*ngIf="registerFormOpen">
        <div class="card-body">
          <form [formGroup]="register1Form" novalidate>
            <h3>Register yourself</h3>
                <div class="form-group row" >
                  <label class="col-sm-2 control-label">staffId</label>
                  <div class="col-sm-8">
                     <input type="text" class="form-control" formControlName="staff_Id" required #staff_Id />
                    
                  </div>
                </div>
                <div class="form-group row" >
                  <label class="col-sm-2 control-label">Set Password</label>
                  <div class="col-sm-8">
                     <input type="password" class="form-control" formControlName="password" required #password />
                     <!-- <span class="help-block" *ngIf="angForm.get('password').errors &&
                     (angForm.controls['password'].dirty || angForm.controls['password'].touched)">
                     <span *ngIf="angForm.controls['password'].errors.required">
                         Create Password
                     </span>
                   </span> -->
                  </div>
                </div>
                <div class="form-group"style="text-align:center">
                        <button type="submit" (click)="Register(staff_Id.value, password.value)" 
                        class="btn btn-primary">Register
                    </button>
                </div>

                <br />
               <p style="text-align:center"(click)="loginUser()"><a href="JavaScript:Void(0);">Login</a></p> 
            </form>
        </div>
</div>

