<h5 style="float: right; color:rebeccapurple;">Welcome {{userName}}!!</h5>
<div *ngIf="itsAdmin">
<h4>List of Users</h4>
<button class="btn btn-primary" style="float: right" (click)="gotoAdd()">Add New User</button>

<br />
<table class="table table-hover">
    <thead>
    <tr>
        <td>Person Name</td>
        <td>Email</td>
        <td>StaffId</td>
        <td colspan="2">Actions</td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.person_name }}</td>
            <td>{{ user.person_email }}</td>
            <td>{{ user.staff_Id }}</td>
            <td><button (click)="editUser(user)"class="btn btn-primary">Edit</button></td>
           
        </tr>
    </tbody>
  </table>
 
</div>
<div *ngIf="!itsAdmin">
    <h3>My Details!!</h3>
    <p >Name: {{user.data.person_name}}</p>
    <p >StaffId: {{user.data.staff_Id}}</p>
    <p >Email: {{user.data.person_email}}</p>
    <p >Designation: {{user.data.isAdmin ? 'Admin':'Staff'}}</p>
</div>
<button class="btn btn-success" style="float: center" (click)="logOut()">log Out here</button>